@import 'src/style/colors';
@import 'src/style/fonts';

.content-wrapper {
  body {
    padding: 0;
    margin: 20px 50px 50px 50px;
    position: relative;
  }

  html, body {
    height: 100%;
  }

  h1, h2 {
    @extend .font-style-default;
    color: $header-grey;
  }

  a {
    @extend .font-style-default;
    color: $accent-gray;
    text-decoration: none;
    font-size: 13px;
  }

  p {
    @extend .font-style-default;
    color: $paragraph-gray;
  }

  .header-text {
    font-size: 45px;
  }

  .text-fields {
    text-align: center;
  }

  .footer-text {
    @extend .font-style-accent;
    @extend .font-size-standard;
    text-align: center;
    font-weight: bold;
  }

  .footer-text-small {
    @extend .font-size-small;
    text-align: center;
  }

  .typewriter-text {
    @extend .font-style-accent;
  }
}
