@import 'src/style/colors';
@import 'src/style/fonts';

.project-tiles-wrapper {

  .card-title {
    color: $header-grey;
  }

  @media all and (max-width: 800px) {
    .row {
      display: block;
      float: none;
      width: 100%;
    }
  }

}