@import 'src/style/colors';

.project-tiles-wrapper {

  box-sizing: revert;

  .card-title {
    color: $header-grey;
  }

  .text-fields {
    text-align: center;
  }

  @media all and (max-width: 800px) {
    .box {
      display: block;
      float: none;
      width: 100%;
    }
  }

  *, ::after, ::before {
    box-sizing: content-box;
  }

  .card-footer {
    border-top: none;
  }
}