@import 'src/style/colors';
@import 'src/style/fonts';

.footer-text-small {
  @extend .font-size-small;
  text-align: center;
}

.footer-text {
  @extend .font-style-accent;
  @extend .font-size-standard;
  text-align: center;
  font-weight: bold;
}

.footer-text-small {
  @extend .font-size-small;
  text-align: center;
}

.typewriter-text {
  @extend .font-style-accent;
}
