@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/style/common';

.news-wrapper {
  body {
    padding: 0;
    position: relative;
  }

  html, body {
    height: 100%;
  }

  .card-title {
    color: $header-grey;
  }

  .sub-title {
    @include font-size-medium;
    color: $accent-gray;
    font-weight: bold;
  }

  @media screen and (max-width: 900px) {
    .high-light {
      @extend .high-light;
      @include font-size-large-3;
    }
  }

  .text-fields {
    @extend %base-text-fields;
  }

  .card-tile {
    width: 50%;
    margin: 0 auto;
    border: none;
    color: $accent-gray;

    .typewriter-text {
      @extend .font-style-accent;
      @include font-size-large-1;
      color: $header-grey;
      font-weight: bold;
    }
  }

  p.card-text {
    @extend .font-size-standard;
    color: $dark-accent-2;
  }

  .inner-text {
    @extend p.card-text;
  }

  .news-card {
    height: 100%;
    color: $accent-gray;
  }

  .no-link {
    text-decoration: none;
  }

  .high-light-1 {
    font-weight: bold;
    color: $paragraph-gray-2;
  }

  @media screen and (min-width: 820px) {
    .high-light-1 {
      @include font-size-large-2;
      font-weight: bold;
      color: $paragraph-gray-2;
      margin: unset;
    }
  }

  @media screen and (max-width: 820px) {
    .high-light-1 {
      @include font-size-large-1;
      font-weight: bold;
      color: $paragraph-gray-2;
      margin: unset;
    }
  }

  .text-fields {
    @extend %base-text-fields;
  }

  @media all and (max-width: 812px) {
    .box {
      display: block;
      float: none;
      width: 100%;
    }
  }

  .high-light {
    @extend %base-high-light;
  }

  @media screen and (max-width: 900px) {
    .high-light {
      @extend .high-light;
      @include font-size-large-3;
    }
  }

  .highlighted-text {
    color: $logo-accent-color;
    font-weight: bold
  }

  .block-1 {
    height: 100%;
  }

  .block-2 {
    height: 385px;
  }

  .block-4 {
    height: 600px;
  }

  .block-3 {
    padding: 0;
  }

  .block-mobile {
    height: 100%;
    padding: 0;
  }

}
