@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/style/common';

.projects-wrapper {

  box-sizing: revert;

  .card {
    border-radius: 0;
  }

  .card-title {
    color: $header-grey;
  }

  .text-fields {
    @extend %base-text-fields;
  }

  @media screen and (min-width: 768px) {
    div.middle-card {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 0;
      padding-right: 0;
    }

    div.left-card {
      margin-right: -18px;
    }

    div.right-card {
      margin-left: -18px;
    }
  }

  p.card-text {
    font-size: 14px;
  }

  a.btn.btn-light {
    font-size: 14px;
  }

  @media all and (max-width: 812px) {
    .box {
      display: block;
      float: none;
      width: 100%;
    }
  }

  .high-light {
    @extend %base-high-light;
  }

  @media screen and (max-width: 900px) {
    .high-light {
      @extend .high-light;
      font-size: 28px;
    }
  }

  *, ::after, ::before {
    box-sizing: content-box;
  }

  .card-footer {
    border-top: none;
  }

  .text-fields {
    @extend %base-text-fields;
  }

  .card-tile {
    width: 50%;
    margin: 0 auto;
    border: none;
    color: $accent-gray;

    .typewriter-text {
      @extend .font-style-accent;
      font-size: 16px;
      color: $header-grey;
      font-weight: bold;
    }
  }
}