@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/style/common';

.projects-wrapper {

  box-sizing: revert;

  p {
    @include font-size-large-1;
  }

  .card-title {
    color: $header-grey;
  }

  .card-footer {
    border-top: none;
  }

  .card-tile {
    width: 50%;
    margin: 0 auto;
    border: none;
    color: $accent-gray;

    .typewriter-text {
      @extend .font-style-accent;
      @include font-size-large-1;
      color: $header-grey;
      font-weight: bold;
    }
  }

  p.card-text {
    @extend .font-size-standard;
  }

  .text-fields {
    @extend %base-text-fields;
  }

  .no-link {
    color: $dark-accent-2;
    text-decoration: none;
  }

  .high-light-1 {
    font-weight: bold;
    color: $paragraph-gray-2;
  }

  *, ::after, ::before {
    box-sizing: content-box;
  }

  .text-fields {
    @extend %base-text-fields;
  }

  @media all and (max-width: 768px) {
    .card {
      background-color: $warm-grey-1;
      border: 0.5px solid $warm-grey-3;
    }

    .box {
      display: block;
      float: none;
      width: 100%;
    }

    .card-style {
      padding: 1.0rem;
    }

    .high-light-1 {
      @include font-size-large-1;
      font-weight: bold;
      color: $paragraph-gray-2;
      margin: unset;
    }
  }

  @media all and (min-width: 769px) {
    .card {
      background-color: $warm-grey-1;
      border: 0.5px solid $warm-grey-3;
      height: 100%;
    }

    div.left-card {
      margin-right: -0.4rem;
    }

    div.right-card {
      margin-left: -0.4rem;
    }

    div.project-card {
      margin-top: 0.8rem;
    }

    .card-style {
      padding: 1.3rem;
    }

    .high-light-1 {
      @include font-size-large-2;
      font-weight: bold;
      color: $paragraph-gray-2;
      margin: unset;
    }
  }

}