@import 'src/style/colors';
@import 'src/style/fonts';

.header-wrapper {

  a:active {
    color: $button-background;
  }

  a:hover {
    text-decoration: none;
  }

  button.dropdown-toggle.btn.btn-primary {
    color: $paragraph-gray-2;
    background-color: $white;
    border-color: $white;
  }

  .btn {
    padding: 0;
  }

  .dropdown-menu {
    border: 0.5px solid $warm-grey-3;
    background-color: $warm-grey-1;
  }

  .link {
    text-decoration: none;
    color: $paragraph-gray-1 !important;
  }

  .name-text {
    @extend .font-style-default;
    @extend .font-size-standard;
    color: $paragraph-gray-2;
  }

  .nav-text {
    @extend .font-style-default;
    @extend .font-size-standard;
    color: $paragraph-gray-2;
    font-weight: bold;
  }

  .logo-accent {
    color: $logo-accent-color;
  }

  .logo {
    opacity: 5%;
  }

  @media all and (max-width: 1024px) {
    .link-high-light {
      text-decoration: none;
      color: $paragraph-gray-2 !important;
    }
  }

  @media all and (min-width: 1025px) {
    .link-high-light {
      text-decoration: none;
      color: $paragraph-gray-2 !important;
      border-bottom: solid $paragraph-gray-2 2px;
    }
  }

}
