@use 'src/style/colors' as *;
@use 'src/style/fonts' as *;

.header-wrapper {
  a:active {
    color: var(--button-background);
  }

  a:hover {
    text-decoration: none;
  }

  button.dropdown-toggle.btn.btn-primary {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--paragraph-gray);
  }

  .btn {
    padding: 0;
  }

  .dropdown-menu {
    background-color: var(--warm-grey-1);
    border: 0.5px solid var(--warm-grey-3);
  }

  .link {
    color: var(--paragraph-gray) !important;
    text-decoration: none;
  }

  .name-text {
    @extend .font-style-default;
    @extend .font-size-standard;
    color: var(--paragraph-gray);
  }

  .nav-text {
    font-family: 'Avenir Next', avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    @extend .font-size-standard;
    color: var(--paragraph-gray);
    font-weight: 500;
  }

  .nav-bar-large {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .logo-accent {
    color: var(--link-accent-color);
  }

  .logo {
    opacity: 100%;
  }

  .link-high-light-mobile {
    color: var(--paragraph-gray) !important;
    font-weight: 700;
    text-decoration: none;
  }

  .link-high-light {
    color: var(--paragraph-gray) !important;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid var(--link-accent-color);
    padding-bottom: 2px;
  }
}
