@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/style/common';

.about-wrapper {

  body {
    padding: 0;
    position: relative;
  }

  html, body {
    height: 100%;
  }

  .high-light {
    @extend %base-high-light;
  }

  @media screen and (max-width: 900px) {
    .high-light {
      @extend .high-light;
      font-size: 28px;
    }
  }

  .text-fields {
    @extend %base-text-fields;
  }

  .card-tile {
    width: 50%;
    margin: 0 auto;
    border: none;
    color: $accent-gray;

    .typewriter-text {
      @extend .font-style-accent;
      font-size: 16px;
      color: $header-grey;
      font-weight: bold;
    }
  }

}
