$header-grey: #5a5a5a;
$accent-gray: #626272;
$paragraph-gray-1: #a5a5a5;
$paragraph-gray-2: #7a7a7a;
$footer-background: #4d4e4f;
$dark-accent: rgba(0, 0, 0, .125);
$button-background: #b7b2b2;
$footer-text: #f6f3f3;
$off-white: #f6f1f1;
$white: #ffffff;
$warm-grey-1: #fafaf9;
$warm-grey-2: #929292;
$logo-accent-color: rgb(49, 129, 253);