$header-grey: #555;
$paragraph-gray: #6f6f6f;
$footer-background: #4d4d4d;
$dark-accent: rgba(0, 0, 0, 0.12);
$button-background: #b7b2b2;
$footer-text: #f6f3f3;
$off-white: #f6f1f1;
$white: #fff;
$warm-grey-1: #fafaf9;
$warm-grey-2: #8c8c8c;
$warm-grey-3: rgba(190, 190, 190, 0.1);
$cadebe-accent-color: #cadebe;
$link-accent-color: rgb(49, 129, 253);

:root {
  --header-grey: #{$header-grey};
  --paragraph-gray: #{$paragraph-gray};
  --footer-background: #{$footer-background};
  --dark-accent: #{$dark-accent};
  --button-background: #{$button-background};
  --footer-text: #{$footer-text};
  --off-white: #{$off-white};
  --white: #{$white};
  --warm-grey-1: #{$warm-grey-1};
  --warm-grey-2: #{$warm-grey-2};
  --warm-grey-3: #{$warm-grey-3};
  --cadebe-accent-color: #{$cadebe-accent-color};
  --link-accent-color: #{$link-accent-color};
}
