@use 'src/style/colors' as *;
@use 'src/style/fonts' as *;

@mixin base-text-fields {
  text-align: center;
}

%base-text-fields {
  @include base-text-fields;
}

@mixin base-high-light {
  font-family: avenirblack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $paragraph-gray;
  font-size: 38px;
  font-weight: 400;
}

%base-high-light {
  @include base-high-light;
}

@mixin base-high-light-mobile {
  font-family: avenirblack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $paragraph-gray;
  font-size: 30px;
  font-weight: 400;
}

%base-high-light-mobile {
  @include base-high-light-mobile;
}
