.font-style-default {
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

.font-style-accent {
  font-family: "DejaVu Sans", Courier, Arial, Helvetica, sans-serif;
}

.font-size-standard {
  font-size: 15px;
}

.font-size-small {
  font-size: 11px;
}

.font-size-medium {
  font-size: 12px;
}