@use 'src/style/colors' as *;
@use 'src/style/fonts' as *;
@use 'src/style/common' as *;

.home-wrapper {
  h1,
  h2,
  h3 {
    @extend .font-style-default;
    color: var(--header-grey);
  }

  a {
    @extend .font-style-default;
    color: var(--accent-gray);
    font-size: 13px;
    text-decoration: none;
  }

  p {
    @extend .font-style-default;
    @include font-size-large-1;
    color: var(--paragraph-gray-2);
  }

  .card {
    background-color: var(--white);
    border: 0;
  }

  .card-text {
    color: var(--accent-gray);
  }

  .card-tile {
    border: 0;
    color: var(--accent-gray);
    margin: 0 auto;

    .typewriter-text {
      @extend .font-style-accent;
      @include font-size-large-1;
      color: var(--header-grey);
      font-weight: bold;
    }
  }

  .header-text {
    font-size: 45px;
  }

  .text-fields {
    @include base-text-fields;
  }

  .high-light-1 {
    color: var(--paragraph-gray-2);
    font-weight: bold;
  }

  @media all and (max-width: 824px) {
    .high-light-1 {
      @include font-size-large-1;
      color: var(--paragraph-gray-2);
      font-weight: bold;
      margin: unset;
    }
  }

  @media all and (min-width: 825px) {
    .high-light-1 {
      @include font-size-large-2;
      color: var(--paragraph-gray-2);
      font-weight: bold;
      margin: unset;
    }
  }

  .images {
    text-align: center;

    .caption-text {
      @extend .font-size-small;
      margin-top: 12px;
      color: var(--paragraph-gray-2);
      text-align: center;
    }

    .caption-text-mobile {
      @extend .font-size-small;
      margin-top: -15px;
      color: var(--paragraph-gray-2);
      text-align: center;
    }
  }

  .two-column-text {
    text-align: justify;
    border-top: 1px solid var(--dark-accent);
    padding-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media all and (min-width: 1025px) {
    .two-column-text {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  @media all and (max-width: 824px) {
    .box {
      display: block;
      float: none;
      width: 100%;
    }
  }
}
