@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/style/common';

.home-wrapper {

  body {
    padding: 0;
    position: relative;
  }

  html, body {
    height: 100%;
  }

  .high-light {
    @extend %base-high-light;
  }

  @media screen and (max-width: 900px) {
    .high-light {
      @extend .high-light;
      @include font-size-large-3;
    }
  }
  
  .card {
    background-color: $white;
    border: none;
  }

  .text-fields {
    @extend %base-text-fields;
  }

  h1, h2, h3 {
    @extend .font-style-default;
    color: $header-grey;
  }

  a {
    @extend .font-style-default;
    color: $accent-gray;
    text-decoration: none;
    font-size: 13px;
  }

  p {
    @extend .font-style-default;
    color: $paragraph-gray-2;
  }

  .text-fields {
    text-align: center;
  }

  .header-text {
    font-size: 45px !important;
  }

  .card-text {
    color: $accent-gray;
  }

  .card-tile {
    width: 50%;
    margin: 0 auto;
    border: none;
    color: $accent-gray;

    .typewriter-text {
      @extend .font-style-accent;
      @include font-size-large-1;
      color: $header-grey;
      font-weight: bold;
    }
  }

  @media all and (max-width: 800px) {
    .box {
      display: block;
      float: none;
      width: 100%;
    }
  }

}
