@import 'src/style/colors';
@import 'src/style/fonts';

.footer-wrapper {

  .footer-text-small {
    @extend .font-size-small;
    text-align: center;
    color: $paragraph-gray;
  }

  .text-fields {
    text-align: center;
  }

  .footer-text {
    @extend .font-style-accent;
    @extend .font-size-standard;
    text-align: center;
    font-weight: bold;
    color: $paragraph-gray;
  }

  .typewriter-text {
    @extend .font-style-accent;
  }

  .footer-style {
    border-top: 0.75px dashed $dark-accent;
  }

  .badge-secondary {
    color: $white;
    background-color: $warm-grey-2;
  }

  .btn-info-local {
    @extend .font-size-medium;
    color: $paragraph-gray !important;
    background-color: $paragraph-gray !important;
    border: none !important;
  }

  .tag-style {
    text-align: center;
  }
}
